.experience-container{
	margin: 0;
	width: 80%;
	padding-top: 20px;
	padding-left: 0;
	padding-right: 0;
	/*border-bottom: 3px solid #ccc;*/
	margin: auto;
}
.card-header{
	background: #ccc;
	width: 100%;
}
a{
	width: 100%;
}
button{
	size: 24pt;
}

.lockheed{
	background: url('Media/lm_star.png');

}

.GEAE{
	background: url('Media/ge_logo.png');
}

.lockheed.active, .GEAE.active{
	color: #000080;
}

.honors{
	background: url('Media/honors_logo.png');
}
.heop{
	background: url('Media/heop_logo.png');
}
.honors.active, .heop.active{
	color: #ff8c00;
}

#heop-panel{
	margin-bottom: 100px;
}

button.accordion{
	height: 200px;
	width: 100%;
	background-size: 50%;
	background-position-x: right;
	background-repeat: no-repeat;
	cursor: pointer;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
	padding: 18px;
	border-bottom: 4px solid #ccc;
}


button.accordion:hover, button.accordion.active{
	background-size: 70%;
	background-repeat: no-repeat;
	background-position-x: right;
}

button.accordion.active{
	border-bottom: none;
	
}

div.panel{
	padding: 0 18px;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	margin: 0px;

}
.panel-container{
	padding: 10px;
	margin-bottom: 10px;
	border-bottom: 4px solid #ccc;
	background-color: #eee;
}

div.panel p{
	padding: 10px 0px;
}

.caption{
	/*height:500px;*/
	text-align: left;
	margin-top: 0px;
	margin-bottom: 10px;
	width: 70%;
}

#location{
	display:inline;
	font-weight: normal;
	font-size: 14pt;
	font-style: italic;
}
.header{
	text-align: left;
}
.header h4{
	font-style: italic;
	padding-bottom: 2px;
	margin: 0px;
}
.header h3{
	font-weight: bold;
	padding-top: 0px;
	margin-bottom: 2px;
	margin-top: 0px;
	text-align: left;
}

.caption p{
	margin-top: 10px;
	margin-left: 0px;
}

.caption li{
	text-align: left;
}

.dates{
	margin-top: 1px;
	font-weight: bold;
	font-style: italic;
}

.responsibility-list{
	width:90%;
	margin-left: 0px;
	margin-right: auto;
	padding-left: 30px;
}

.responsibility-list li{
	padding-bottom: 10px;
	list-style: inside;
	text-indent: -1em;
	padding-left: 1em;
}

@media(max-width: 600px){
	.caption p{
		margin-left: 0px;
	}
	.responsibility-list{
		margin-left: 5px;
	}
	.image-div{
		width: 100%;
	}
	#myTab li{
		width: 20%;
	}
	#tab1{
		margin-left: 5px;
	}
}

@media(max-width: 1050px){
	.experience-container{
		width: 100%;
	}
	.caption{
		width: 100%;
	}
}