
.box {
	width: 80%;
	margin: 0px auto;
	background: rgba(255,255,255,0.2);
	padding: 20px 35px;
	border-bottom: 4px solid #ccc;
	background-clip: padding-box;
	text-align: center;
	text-align: left;
}
.box:hover{
	background-color: #eee;

}

.box img{
	display: inline;
	width: 30%;
	vertical-align: middle;
}
.box a{
	text-decoration: none;
	color: black;
}
.box p, .box h2{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.box h2{
	font-size: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  display: none;
}
.overlay:target {
  visibility: visible;
  display: inherit;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 70%;
  position: relative;
  transition: all 1s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	display: block;
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  margin: 25px 0px;
}

@media(max-width: 800px){
  .box{
    width: 95%;
  }
  .box img{
  	width: 60%;
  }
  .popup{
    width: 95%;
  }
}
@media(max-width: 500px){
	.box img{
		width: 80%;
	}
	.box{
		text-align: center;
	}
}


.projects{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #fff;
	border-bottom: 2px solid #ccc;
}
h3{
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
}
h4 {
	font-weight: bold;
	font-style: italic;
	margin-top: 0;
	text-align: left;
}
h5{
	font-weight: bold;
	margin-top: 0;
	text-align: center;
	font-style: italic;
}
.caption p, .project-description p{
	padding-top: 5px;
	color: #000;
	font-size: 14px;
	text-align: justify;
}


.section-image{
	display: inline-block;
	float: left;
	padding-right: 10px;
	padding-bottom: 3px;
	border:none;
}

.navbar{
	margin: 0;
}

.cycle-slideshow{
	width: 100%;
	float: left;
	margin-right: 0px;
	margin-bottom: 2%;
	margin-top: 5px;
	margin-left:0px; 
	position: relative;
	min-width: 250px;
}

.cycle-slideshow img{
	width: 100%;
}

.center{
	text-align: center;
	
}
.center a{
	margin-right: 5px;
	margin-left: 5px;
}
.center p{
	display: inline-block;
}
.center img{
	width: 32px;
}
.slideshow-container{
	float: left;
	margin-right: 1%;
	margin-bottom: 1%;
}


.project-slide{
	width: 100%;
	height: 100%;
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: none;
}
.project-slide .slideshow-container{
	width: 20%;
}

.project-photos{
	width: 100%;
	margin-right: 2%;
	margin-bottom: 5%;
}
.project-photos img{
	width: 100%;
	height: auto;
}
.project-description {
	height: 100%;
}
.project-description p{
	text-align: justify;
}
#total-project-caption{
	display: inline-block;
}

/* caption */
.cycle-caption { 
	position: absolute;
	color: white;
 	bottom: 10px; 
 	right: 15px; 
 	z-index: 700; 
}
.non-aero .cycle-caption{
	bottom: 35px;
}
.non-aero{
	margin-bottom: 1%;
}
.non-aero img{
	width: 100%;
}
.non-aero li{
	margin-left: 0px !important;
}

.caption-img{
	margin-top: 1%;
	text-align: center;
}

@media (max-width: 450px){
	.project-slide .slideshow-container{
		width: 100%;
	}
	.slideshow-container {
		width: 100%;
	}
}
@media (min-width: 450px){
	.slideshow-container{
		min-width: 400px;
	}
}